@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital@0;1&display=swap");

.fa {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 13px;
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: #f5deb3;
    font-size: 16px;
}

h1 {
    margin: 5px 0 20px 0;
}

a:link {
    color: rgb(16, 77, 148);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav.navbar {
    margin: 0 0 15px 0;
}

nav.navbar ul {
    padding: 0;
    margin: 0 auto;
    display: table;
    text-align: center;
}

nav.navbar ul li {
    display: inline;
    font-size: 1.2em;
}

nav.navbar ul li:not(:first-child)::before {
    content: "/";
    font-weight: normal;
    margin: 0 5px;
}

nav.navbar ul li.current-page {
    font-weight: bold;
}


main {
    margin: 0 auto;
    padding: 15px 20px 10px;
    max-width: 575px;
    box-sizing: border-box;

    border-radius: 8px;

    background-color: white
}

main ul {
    padding: 0 35px;
}

main ul li {
    margin: 7px 0;
}

img.avatar {
    width: 80%;
    max-width: 200px;
    display: block;
    margin: auto;
}

.project-list .project-row {
    display: block;
    box-sizing: content-box;
    margin: 30px 0 20px 0;
}

.project-list .project-row:first-child {
    margin-top: 15px;
}

.project-list .project-row:not(:last-child) {
    padding: 0 0 6px 0;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.164);
}

.project-row img {
    width: 80%;
    max-width: 320px;
    display: block;
    margin: 0 auto 30px auto;

    border-radius: 15px;

    transition-duration: 0.35s;
    transition-property: box-shadow;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.project-row img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project-row h3 {
    text-align: center;
}

.project-row p {
    text-align: center;
}

.copyright {
    text-align: center;
}